		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/font-awesome.min.css?version=1.0.5.0">

        <!-- bootstrap datepicker -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-datepicker.min.css">

        <!-- bootstrap datetimepicker -->
        <!-- ref http://www.malot.fr/bootstrap-datetimepicker/index.php -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-datetimepicker.min.css">

		<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/smartadmin-production-plugins.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/smartadmin-production.min.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/smartadmin-skins.min.css">

		<!-- SmartAdmin RTL Support is under construction-->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}bootstrap/css/smartadmin-rtl.min.css">

        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/buttons.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/flickity.css">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}summernote/summernote.css">

        <!-- notes -->
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery.quicknote.css?version=1.0.0.0">

        <!-- custom style -->
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/main.css?version=1.0.0.0">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/custom.css?version=1.0.0.0">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/mobile.css">

        <!-- print -->
        <link rel="stylesheet" type="text/css" media="print" href="{{STATIC_URL}}css/print.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon">
		<link rel="icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

		<!-- Specifying a Webpage Icon for Web Clip
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="{{STATIC_URL}}bootstrap/img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="{{STATIC_URL}}bootstrap/img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="{{STATIC_URL}}bootstrap/img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="{{STATIC_URL}}bootstrap/img/splash/touch-icon-ipad-retina.png">

		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta http-equiv="X-UA-Compatible" content="IE=10; IE=9; IE=8; IE=7; IE=EDGE" />

		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="{{STATIC_URL}}bootstrap/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="{{STATIC_URL}}bootstrap/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="{{STATIC_URL}}bootstrap/img/splash/iphone.png" media="screen and (max-device-width: 320px)">

