
        <div class="page-footer" id="footer">
                <div class="row">
                    <div class="col-xs-6">
                        <span class="txt-color-white">{{ WEBSITE_BU_NAME }}</span>
                    </div>

                    <div class="col-xs-6 text-right">
                        <div class="txt-color-white inline-block">
                            <i class="txt-color-blueLight">
                                Powered by MyHestia © {% now 'Y' %}
                                <span class="ml5">Version {{ VERSION }}</span>
                            </i>
                        </div>
                    </div>
                </div>
		</div>

