<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{{STATIC_URL}}bootstrap/js/plugin/pace/pace.min.js"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="{{STATIC_URL}}bootstrap/js/libs/jquery-2.1.1.min.js"></script>
        <script src="{{STATIC_URL}}js/lib/jquery.cookie.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/libs/jquery-ui-1.10.3.min.js"></script>

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{{STATIC_URL}}bootstrap/js/app.config.js"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

		<!-- BOOTSTRAP JS -->
		<script src="{{STATIC_URL}}bootstrap/js/bootstrap/bootstrap.min.js"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{STATIC_URL}}bootstrap/js/notification/SmartNotification.min.js"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{STATIC_URL}}bootstrap/js/smartwidgets/jarvis.widget.min.js"></script>

		<!-- EASY PIE CHARTS -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

		<!-- SPARKLINES -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/sparkline/jquery.sparkline.min.js"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/jquery-validate/jquery.validate.min.js"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/select2/select2.min.js"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

		<!-- browser msie issue fix -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

		<!-- FastClick: For mobile devices -->
		<script src="{{STATIC_URL}}bootstrap/js/plugin/fastclick/fastclick.min.js"></script>

        <script src="{{STATIC_URL}}bootstrap/js/plugin/bootstraptree/bootstrap-tree.min.js"></script>

        <script src="{{STATIC_URL}}bootstrap/js/plugin/x-editable/x-editable.min.js"></script>

        <script src="{{STATIC_URL}}js/lib/highcharts.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- MAIN APP JS FILE -->
        <script src="{{STATIC_URL}}bootstrap/js/app.config.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/app.min.js"></script>

		<!-- SmartChat UI : plugin -->
		<script src="{{STATIC_URL}}bootstrap/js/smart-chat-ui/smart.chat.ui.min.js"></script>
		<script src="{{STATIC_URL}}bootstrap/js/smart-chat-ui/smart.chat.manager.min.js"></script>

		<script src="{{STATIC_URL}}bootstrap/js/plugin/delete-table-row/delete-table-row.min.js"></script>

		<script src="{{STATIC_URL}}summernote/summernote.min.js"></script>

        <!-- JQUERY VALIDATE -->
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
		<script src="{{ STATIC_URL }}bootstrap/js/plugin/jquery-validate/jquery.validate.min.js"></script>

        <!-- DataTable -->
		<script src="{{ STATIC_URL }}bootstrap/js/plugin/datatables/jquery.dataTables.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/datatables/dataTables.colVis.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/datatables/dataTables.tableTools.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/datatables/dataTables.colReorder.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

        <!-- Select2 -->
		<script src="{{ STATIC_URL }}bootstrap/js/plugin/select2/select2.min.js"></script>

		<!-- DropZone -->
		<script src="{{ STATIC_URL }}bootstrap/js/plugin/dropzone/dropzone.min.js"></script>

        <script src="{{ STATIC_URL }}js/lib/jquery.autoNumeric-min-1.9.43.js"></script>
        <script src="{{ STATIC_URL }}js/lib/buttons.js"></script>
        <script src="{{ STATIC_URL }}js/lib/bootstrap-datepicker.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib/bootstrap-datetimepicker.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>

        <!-- notes -->
        <script src="{{ STATIC_URL }}js/lib/jquery.quicknote.js?version=1.0.0.0"></script>

        <!-- print web page -->
        <script src="{{ STATIC_URL }}js/lib/jquery.print.js"></script>

        <!-- isotope, Flickity -->
        <script src="{{ STATIC_URL }}js/lib/isotope.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib/flickity.pkgd.min.js"></script>
        <script src="{{ STATIC_URL }}js/lib/flickity.bg-lazyload.js"></script>
        <script src="{{ STATIC_URL }}js/lib/jquery.infinite-scroll.min.js"></script>

        <!-- custom data table -->
        <script src="{{ STATIC_URL }}js/main.js?version=1.0.0.0"></script>
		<script src="{{ STATIC_URL }}js/data_table.js?version=1.0.0.1"></script>
        <script src="{{ STATIC_URL }}js/my_select2.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

        <script>
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            function sameOrigin(url) {
                // test that a given url is a same-origin URL
                // url could be relative or scheme relative or absolute
                var host = document.location.host; // host + port
                var protocol = document.location.protocol;
                var sr_origin = '//' + host;
                var origin = protocol + sr_origin;
                // Allow absolute or scheme relative URLs to same origin
                return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                    !(/^(\/\/|http:|https:).*/.test(url));
            }

            $(document).ready(function() {
                pageSetUp();

                $.ajaxSetup({
                     beforeSend: function(xhr, settings) {
                         function getCookie(name) {
                             var cookieValue = null;
                             if (document.cookie && document.cookie != '') {
                                 var cookies = document.cookie.split(';');
                                 for (var i = 0; i < cookies.length; i++) {
                                     var cookie = jQuery.trim(cookies[i]);
                                     // Does this cookie string begin with the name we want?
                                     if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                         cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                         break;
                                     }
                                 }
                             }
                             return cookieValue;
                         }
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     }
                });
            });

            jQuery(function($) {
                pageSetUp();
                $.fn.serializeForm = function(){
                    var o = {};
                    var a = this.serializeArray();
                    $.each(a, function() {
                        if (o[this.name] !== undefined) {
                            if (!o[this.name].push) {
                                o[this.name] = [o[this.name]];
                            }
                            o[this.name].push(this.value || '');
                        } else {
                            o[this.name] = this.value || '';
                        }
                    });
                    return o;
                };
                $(document).ajaxError(function(e, xhr, settings, exception) {
                    if  (xhr.status == 500) {
                        alert('Ajax Error : Internal Server Error');
                    } else if (xhr.status == 404) {
                        alert('Page cannot find : '+ settings.url );
                    } else if (xhr.status == 403) {
                        alert(xhr.responseText);
                    }else if (xhr.status == 401) {
                        location.reload();
                    }
                });
            });
        </script>
        <style>
            .datepicker {z-index: 1151 !important;}
        </style>