{% extends 'mainbase.html' %}

{% block title %} Upload Matter Contract {{ block.super }} {% endblock %}

{% block breadcrumb %}
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Matter' 'matter_index' %}
    {% breadcrumb 'Upload Matter Contract' %}
{% endblock %}

{% block content %}

<div class="plain-panel">
    <h4 class="">
        Upload Matter Contract
        <i class="pull-right f11p mt5"><span class="txt-color-red">* </span>compulsory fields</i>
    </h4>
    <hr class="dash mt10">

    <form action="{% url 'matter_contract_upload' matter_id=form.matter.pk %}" enctype="multipart/form-data" method="post" id='frm'>
        {% csrf_token %}

        <h5 class="mt20">Contract</h5>
        <div class="form-group row">
            <div class="col-md-4 control-group">
                <div id="drop_zone" class="dropzone mt5" data-url="{% url "upload" %}" data-token="{{ csrf_token }}">
                    <div class="dz-message needsclick f16p ">
                        <span class="">Upload matter contract</span><br>
                        <span class="text-primary needsclick  f12p">* Existing files will be replaced.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="button button-flat-primary" type="submit">
                        Upload Matter Contract
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}


{% block jscript %}

<script>

$(function(){
    /**
     * form validation
     */
    $('#frm').bootstrapValidator({
        trigger: 'change keyup',
        group: '.control-group'
    });

    JLib.init_drop_zone('drop_zone', 'frm', 'contract', '');

})

</script>


{% endblock %}
