{% extends 'mainbase.html' %}

{% block title %} Send Matter Notification {{ block.super }} {% endblock %}

{% block breadcrumb %}
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb_url 'Matter' 'matter_index' %}
    {% breadcrumb 'Edit Matter Notification' %}
{% endblock %}

{% block content %}

<div class="plain-panel">
    <h4 class="">
        Edit Matter Notification
        <i class="pull-right f11p mt5"><span class="txt-color-red">* </span>compulsory fields</i>
    </h4>
    <hr class="dash mt5">

    <form action="{% url 'matter_notification_create' %}?next={{ next }}" enctype="multipart/form-data" method="post" id='frm' class="form-horizontal">
        {% csrf_token %}

        <div class="form-group mt30">
            <label class="col-md-2 control-label pt0">Matter</label>
            <div class="col-md-10">
                {{ form.matter.get_id_display }}
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"><span class="txt-color-red">* </span>SMS or Email</label>
            <div class="col-md-4">
                <select name="send_type" class="form-control">
                    {% for k, v in form.NConst.SEND_TYPE_CHOICE %}
                        <option value="{{ k }}" data-show-container="{% if k == form.NConst.SEND_TYPE_EMAIL %}subject_container{% endif %}"
                                {% if form.send_type.value == k %}selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"><span class="txt-color-red">* </span>Send To</label>
            <div class="col-md-4">
                <select name="send_to" class="form-control">
                    {% for k, v in form.NConst.SEND_TO_MATTER_CHOICE %}
                        <option value="{{ k }}" {% if form.send_to.value == k %}selected{% endif %}>{{ v }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">CC</label>
            <div class="col-md-10">
                <label class="checkbox-inline">
                    <input type="checkbox" name='cc_staff' {% if form.cc_staff.value %}checked{% endif %}>
                    CC Staff
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox" name='cc_agent' {% if form.cc_agent.value %}checked{% endif %}>
                    CC Agent
                </label>
            </div>
        </div>

        <div class="form-group" id="subject_container">
            <label class="col-md-2 control-label"><span class="txt-color-red">* </span>Subject</label>
            <div class="col-md-4">
                <input type="text" name="subject" class="form-control"
                       value="{{ form.subject.value | default:''}}"
                       data-bv-notempty="true"
                       data-bv-stringlength="true" maxlength="128">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label"><span class="txt-color-red">* </span>Content</label>
            <div class="col-md-4">
                <textarea name='content' class="form-control" placeholder="" rows="4"
                        >{{ form.content.value | default:''}}</textarea>
            </div>
        </div>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="button button-flat-primary" type="submit">
                        Send Notification
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>


{% endblock %}


{% block jscript %}

<script>

$(function(){
    /**
     * form validation
     */
    $('#frm').bootstrapValidator({
        trigger: 'change keyup',
        group: '.control-group'
    });

})

</script>

<script src="{{ STATIC_URL }}js/matter_notification_form.js?version=1.0.0"></script>
    
{% endblock %}
