{% extends 'mainbase.html' %}

{% block title %} Matter Notification {{ block.super }} {% endblock %}

{% block breadcrumb %}
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'Matter Notification' %}
{% endblock %}

{% block content %}

<div class="plain-panel">
    <h4 class="">Matter Notification</h4>
    <hr class="dash mt10">

    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 pr0">
            <div class="input-icon-right">
                <i class="glyphicon glyphicon-search"></i>
                <input type="text" id="search-input" name="search" class="form-control" placeholder="Matter ID">
            </div>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 pr0">
            <select class="form-control" name="status" id="status">
                <option value="{% url 'matter_notification_index' %}">ALL Status</option>
                {% for key, value in MatterNotification.STATUS_CHOICE  %}
                    <option value="{% url 'matter_notification_index' %}?status={{ key }}"
                            {% if status|safe == key|safe %}selected{% endif %}>{{ value }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="mt10 table-responsive">
        <table class="table table-striped my-table" id="matter-notification-table" width="100%"
               data-server-url="{% url 'matter_notification_table_list' %}?status={{ status }}">
            <thead>
                <tr>
                    <th class="unsearchable unsorted">ID</th>
                    <th class="unsearchable">Expected Sent At</th>
                    <th class="unsorted">Matter ID</th>
                    <th class="unsearchable unsorted">Trigger</th>
                    <th class="unsearchable unsorted text-center">Type</th>
                    <th class="unsearchable unsorted">Sent To</th>
                    <th class="unsearchable unsorted">Subject/Content</th>
                    <th class="unsearchable unsorted text-center">Attachment</th>
                    <th class="unsearchable unsorted">Sent At</th>
                    <th class="unsearchable unsorted">Created At</th>
                    <th class="unsearchable unsorted">status</th>
                    <th class="unsearchable unsorted text-center">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>

{% endblock %}


{% block jscript %}
<script>

$(function(){

    JLib.init_data_table('#matter-notification-table', true, 'search-input');

    $('select[name="status"]').change(function() {
        window.location = $(this).val();
    });

})
</script>

<script src="{{ STATIC_URL }}js/matter_notification_action.js?version=1.0.0.0"></script>

{% endblock %}
