{% extends 'mainbase.html' %}

{% block title %} Change Password {{ block.super }} {% endblock %}

{% block breadcrumb %}
    {% breadcrumb_url 'Home' 'home' %}
    {% breadcrumb 'Change Password' %}
{% endblock %}

{% block content %}

<div class="plain-panel">
    <h4 class="">
        Change Password
        <i class="pull-right f11p mt5"><span class="txt-color-red">* </span>compulsory fields</i>
    </h4>
    <hr class="dash mt5">

    <form action="{% url 'staff_change_password' user_id=form.staff.pk %}" enctype="multipart/form-data" method="post" id='frm' class="form-horizontal">
        {% csrf_token %}

        <div class="form-group mt30">
            <label class="col-md-2 control-label pt0">Staff</label>
            <div class="col-md-10">
                {{ form.staff.get_short_desc }}
            </div>
        </div>

        <div class="form-group mt25">
            <label class="col-md-2 control-label">
                <span class="txt-color-red">* </span>New Password
            </label>
            <div class="col-sm-3 control-group">
                <input type="password" name="password" class="form-control"
                       data-bv-notempty="true"
                       data-bv-stringlength="true"
                       data-bv-stringlength-min="5"
                       data-bv-stringlength-message="* at least 5 characters">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">
                <span class="txt-color-red">* </span>Confirmed Password
            </label>
            <div class="col-sm-3 control-group">
                <input type="password" name="confirm_password" class="form-control"
                       data-bv-notempty="true"
                       data-bv-identical="true"
                       data-bv-identical-field="password"
                       data-bv-identical-message="not same as password">
            </div>
        </div>



        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="button button-flat-primary" type="submit">
                        Change Password
                    </button>
                </div>
            </div>
        </div>

    </form>


</div>


{% endblock %}


{% block jscript %}

<script>

$(function(){
    /**
     * form validation
     */
    $('#frm').bootstrapValidator({
        trigger: 'change keyup',
        group: '.control-group'
    });
})

</script>


{% endblock %}
